<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post">

        Student Roll No <input type="number">
        Student Name <input type="text">
        Student Age <input type="text">
        Student City <input type="text">

        <button>Submit</button>

    </form>
    
</body>
</html>